.footer{
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.no-padding{
    max-width: 1550px;
}
.logos{
    gap: 20px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    
    
}
.footer-logo{
    width: 161px;
    height: 45px;
}


/*Fonts*/
h4,h3{
    font-family: inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    line-height: 22px;
}

h3{
    font-size: 16px;
}


h5{
    font-family: inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}



/* Button Styles */
.btnW{
 background-color: white;
}
.btnB{
background-color: black;
}

.btnW,.btnB{
width: 28px;
height: 28px;
border-radius: 999px;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-line{
    border: 1px solid;
    align-items: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

@media (max-width: 576px) {
    .footer{
        padding: 20px;
    }
    .footer-logo{
        width: 100px;
        height: 30px;
    }
    h3,h5{
        font-size: 14px;
    }
    
}


