<div class="container-fluid">
  <div class="row flex-wrap">
    <div class="col-12 first-order position-relative " *ngIf="showColumn"><div class="d-flex justify-content-center"><h3>Sign up and get 20% off to your first order.
        <a routerLink="/register" style="text-decoration: underline; color: white; font-weight: 500;">Sign Up Now</a></h3></div>
         <div class="d-flex justify-content-end"><button  type="button"  class="custom-close "  (click)="hideColumn()"> <img src="assets/Vector.png" alt="Close" />
</button></div></div>

    <div class="col-12 pt-3 header-part">
       <div class="row align-items-center g-3">
      <div class="col-4 col-sm-2 d-flex gap-3 justify-content-sm-start"> <img src="assets/bar.png" alt="bar" class="bar"/> <img src="assets/LDC.png" alt="LDC" class="logo" /></div>
      <div class="col-4 col-sm-9 d-flex d-sm-block justify-content-end" ><div *ngIf="isOnProductList()" [class.hide]="isPopupSearch"><app-searchbar></app-searchbar></div></div>
      <div class="col-4 col-sm-1  gap-2 d-flex justify-content-end justify-content-end"style="flex-wrap: wrap;">
        <img src="assets/blacksearch.png" alt="blacksearch" class="blacksearch" (click)="openPopup()"/>
        <img src="assets/Cart.png" alt="Cart" class="cart"/> 
        <img src="assets/Profile.png" alt="Profile" class="profile" /></div>
     </div>
    </div>
    <div class="col-sm-12 custom-line"></div>
    <div class="col-12 pt-3 location-part d-flex justify-content-sm-start">
      <h3 style="font-size: 16px; color: black; word-spacing: 10px; text-align: left;">
      <span style="color: gray;"> Home </span>
      <img src="assets/arrow-right.png" alt="arrow-right" class="arrow-right" style="margin-right: 14px;"/> <span routerLink="/products" style="cursor: pointer; margin-right: 14px; ">Shop</span>
      <span *ngIf="!isOnProductList()"><img src="assets/arrow-right.png" alt="arrow-right" class="arrow-right" style="margin-right: 14px;"/>Product</span>
    </h3>
    </div>


</div>
</div>
