body {
   background-color: rgba(255, 249, 249, 0.712);   
  
}


h2,h3{
font-family: inter,sans-serif;
font-size: 24px;
font-weight: 500;
color: rgba(51, 56, 67, 1);

}

h3{
font-size: 14px;
}

a{
    cursor: pointer;
    color: inherit;
}

.add{
    
    background-color: rgba(92, 89, 232, 1);
    font-family: inter,sans-serif;
    color: white;
    font-weight: 600;
    font-size: 14px;

}

h5{
  font-family: inter,sans-serif;
    color: rgb(105, 103, 103);
    font-weight: 600;
    font-size: 14px;
}

.options{
    color: rgba(102, 112, 133, 1);
    font-family: inter,sans-serif;
    font-size: 14px;
    font-weight: 500px;
    padding: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 16px;
    height: 40px;
}



.search-icon{
    position: absolute;
    top: 20%;
    left: 10px;
    height: 24px;
    width: 24px;

}

.search-input {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-left: 40px;
  color: #00000066;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px; 
  height: 40px;
  outline: none;
  width: 60%;
}
.search-wrapper {
  position: relative;
}

.header{
  background-color: rgba(249, 249, 252, 1);
  color: rgba(51, 56, 67, 1);
  border-radius: 4px;
  font-family: inter,sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

.product-box{
  border: 1px solid lightgray;
  border-radius: 4px;
   padding: 0; /* remove internal space if needed */
  margin: 0;
  

}

.noproductlist,.paging{
  color: rgba(102, 112, 133, 1);
  font-family: inter,sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(249, 249, 252, 1);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.paging{
  padding: 10px;
  background-color: white;
  font-size: 14px;
  border-radius: 4px;
}

.previous,.next{
  background-color: rgba(222, 222, 250, 1);
  color: rgba(92, 89, 232, 1);
  
}

.num{
  background-color: rgba(92, 89, 232, 1);
  color: white;
  display: flex;
  justify-content: center;
  
}

.product-card{
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  font-family: inter,sans-serif;
  font-size: 14px;
}

.row{
  margin: 5px;
}

.image-cell{
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: 1px solid #ccc;  */
  border-radius: 6px; 
  flex-shrink: 0;
  
}


.product-image{
  display: block; /* prevent inline image spacing issues */
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

.preview-icon,.delete-icon,.update-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}



.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deletepopup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.deleted{
  background-color: lightcoral;

  border-radius: 999px;
  color: white;
  text-align: center;
}



/* ------------------------------------------- */
.preview-popup h2,
.preview-popup h3 {
    font-family: Inter, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.preview-popup h2 {
    font-size: 24px;
}

.preview-popup h3 {
    font-size: 15px;
    color: black;
}

.preview-popup p {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    white-space: normal;
    text-align: center;
}

.preview-popup .product-image {
    width: 70px;          
    height: 70px;         
    border: 1px solid #ccc; 
    border-radius: 8px;   
    margin: 5px;          
    background-color: #f9f9f9;
}

.preview-popup .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.preview-popup {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.438);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.preview-popup .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
}

.preview-popup .container {
    background-color: rgba(92, 89, 232, 1);
    border: 1px solid grey;
    border-radius: 16px;
    padding: 10px;
}

.preview-popup .container h3 {
    color: white;
}


.filter-popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filterpopup-content {
  font-family: inter,sans-serif;
  font-weight: 600;
  color: rgba(92, 89, 232, 1);
  background: rgb(238, 238, 239);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  
}

.categories input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #000000; /* Change color */
  border-radius: 6px; /* Makes it curved */
  cursor: pointer;
}

.product{
  /* justify-content: space-between; */
  gap: 3px;
  flex: 0 0 auto;
  width: 25%;
}

.productdata{
  flex: 0 0 auto;
  width: 25%;
}




@media(max-width:992px){

.SKU,
.Categories,
.Stock,
.Price,
.Status,
.Added,
.SKUdata,
.Categoriesdata,
.stockdata,
.productamountdata,
.status {
  display: none!important;
}

 

.product,.productdata{
  flex: 0 0 auto;
  width: 75%;
}

.Action{
   flex: 0 0 auto;
  width: 25%;
}

.previous,.num,.next{
  width:32px;
  height: 32px;
  align-items: center;
  display: flex;
}

.options h5{
  display: none!important;
}

.twobuttons{
  margin-top: 10px;
}



}



@media(max-width:500px){
  .search-input{
    width:100%
  }

  .paging{
    font-size: 10px;
  }

}






