
<div class="row viewproducts p-2">
    <div class="col-12 titles d-flex justify-content-between">
        <div class="left">
            <h2>Product</h2>
            <h3><a routerLink="/admin/dashboard" class="text-decoration-none" style="color: rgba(92, 89, 232, 1);">Dashboard</a>  >   
                <a routerLink="/admin/productlist" class="text-decoration-none">Product</a></h3>
            
                <div class="search-wrapper"> <img src="assets/Search.png" alt="Search" class="search-icon" /> 
                <input type="text" class="form-control search-input"  [(ngModel)]="searchText" placeholder="Search Product ..." aria-label="Search">
 
                </div>   
                
            </div>

       
       <div class="right ">
            <div class="d-flex justify-content-end"><button class="btn btn-primary add " routerLink="/admin/productlist/add-product">+ Add Product</button></div>
            <div class=" d-flex align-items-end gap-2 mt-2 twobuttons">
             <button class="btn options d-flex gap-2 "><img src="/assets/calender.png" alt="calender"/>Select Dates</button>
             <button class="btn options d-flex gap-2  "><img src="/assets/filteradmin.png" alt="filter"/>Filters</button>
           </div>

</div>

</div>
<div class="product-box mt-3 ">
<div class=" row mb-0 header border-bottom">
    <div class="col-3 product d-flex justify-content-between">
     <div><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" /> 
      Product
     </div>
     <div *ngIf="on"><img src="/assets/arrow-down.png" (click)="sortProducts()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
     <div *ngIf="!on"><img src="/assets/arrow-up.png" (click)="sortProducts()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
        </div>

     <div class="col-1 SKU text-center">
            SKU
        </div>

    <div class="col-2 Categories text-center">
            Categories
        </div>

    <div class="col-1 d-flex gap-1 justify-content-center">
        Stock
    </div>

    <div class="col-1 d-flex justify-content-center gap-1">
        Price
    <div *ngIf="onP"><img src="/assets/arrow-down.png" (click)="sortPrice()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
     <div *ngIf="!onP"><img src="/assets/arrow-up.png" (click)="sortPrice()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
    </div>

    <div class="col-2 d-flex gap-1 justify-content-center Status">
        Status
    
    </div>

    <div class="col-1 d-flex gap-1 justify-content-center Added">
        Added
    <div *ngIf="onD"><img src="/assets/arrow-down.png"  (click)="sortDate()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
    <div *ngIf="!onD"><img src="/assets/arrow-up.png" (click)="sortDate()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
    </div>

    <div class="col-1 text-center Action">
        Action
    </div>

    
</div>
<!-- Temporary No Products Available -->
<div class="noproductlist" *ngIf="hasError||products.length === 0">
No products available 
</div>
<!-- ------------------------ -->
 <div  class="row m-0 product-card" *ngFor="let product of products"  >
  
    <div class="col-3 productdata d-flex align-items-center gap-2">
     <input type="checkbox" [(ngModel)]="product.selected" (change)="checkIfAllSelected()" />
     <div class="image-cell">
     <img [src]="'/assets/' + (product.images?.[0])" alt="Product Image" class="product-image" />
     </div>
    <div class="product-name align-items-center">{{ product.name }}
    <div class="deleted" *ngIf="product.isDeleted">
    Deleted
    </div>

    </div>
    </div>
     

     <div class="col-1 SKUdata text-center" style="color: rgba(92, 89, 232, 1); font-weight: 600;">
            {{ product.SKU }}  
        </div>

    <div class="col-2 Categoriesdata text-center">
            {{ product.type }}
        </div>

    <div class="col-1 stockdata text-center">
        {{product.stockQuantity}}
    </div>

    <div class="col-1 text-center">
        {{product.amount}}$
    </div>

    <div class="col-2 status text-center">
        {{ product.status }}
       
    </div>

    <div class="col-1 text-center Added">
        {{ product.createdOn | date:'short' }}

    </div>

    <div class="col-1 d-flex gap-1 justify-content-center Action">
        <img src="/assets/preview.png" alt="preview"  (click)="openPreviewPopup(product.id)" class="preview-icon"/>
        <img src="/assets/update.png" alt="Update"  (click)="onUpdate(product.id)" class="update-icon"/>
        <img src="/assets/delete.png" alt="Delete" (click)="onDelete(product.id)" class="delete-icon"/>

    </div>


 </div>

 <!-- ----------------------------------- -->


 <div class="paging d-flex justify-content-between align-items-center">
<div> Showing 1-{{ products.length }} from 0 </div>
<div class="d-flex gap-2">
 <button class="btn previous" [disabled]="pageNumber==1" (click)="previousPage()"><</button>
<button class="btn num">{{this.pageNumber}}</button>
<button class="btn next" [disabled]="stopNext" (click)="nextPage()">></button>
</div>

 </div>
</div>

</div>


<div class="popup" *ngIf="showDeletePopup" (click)="closeDeletePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <h2>Are you sure you want to delete this product?</h2>
    <div class="button-group mt-4 d-flex gap-2 justify-content-center">
      <button (click)="confirmDelete()" class="btn btn-danger">Yes</button>
      <button (click)="closeDeletePopup()" class="btn btn-secondary" style="background-color: rgba(92, 89, 232, 1);">Cancel</button>
    </div>
  </div>
</div>
<router-outlet name="popup"></router-outlet>
