
<div class="row viewproducts p-2">
    <div class="col-12 titles d-flex justify-content-between">
        <div class="left">
            <h2>Product</h2>
            <h3><a routerLink="/admin/dashboard" class="text-decoration-none" style="color: rgba(92, 89, 232, 1);">Dashboard</a>  >   
                <a routerLink="/admin/productlist" class="text-decoration-none">Product</a></h3>
            
                <div class="search-wrapper"> <img src="assets/Search.png" alt="Search" class="search-icon" /> 
                <input type="text" class="form-control search-input"   (input)="Searchproducts()" [(ngModel)]="searchText" placeholder="Search Product ..." aria-label="Search">

                </div>   
                
            </div>

       
       <div class="right ">
            <div class="d-flex justify-content-end"><button class="btn btn-primary add " routerLink="/admin/productlist/add-product">+ Add Product</button></div>
            <div class=" d-flex align-items-end gap-2 mt-2 twobuttons">
             <button class="btn options d-flex gap-2" (click)="rangePicker.open()"><img src="/assets/calender.png" alt="calender"/>Select Dates</button>
             <button class="btn options d-flex gap-2" (click)="OpenFilters()"><img src="/assets/filteradmin.png" alt="filter"/>Filters</button>
             <div class="filter-popup" *ngIf="filterpopup" (click)="CloseFilters()">
                <div class="filterpopup-content" (click)="$event.stopPropagation()">
                    <h2 style="font-size: 25px; font-weight: 600;">Filter by Category</h2>
                    <div class="categories d-flex gap-4 mt-3 align-items-center">
                    <input type="checkbox" id="Tops" [(ngModel)]="topsSelected" name="Tops" value="Tops">
                    <label for="Tops">Tops</label>
                    <input type="checkbox" id="Bottoms" [(ngModel)]="bottomsSelected" name="Bottoms" value="Bottoms">
                    <label for="Bottoms">Bottoms</label>
                    <input type="checkbox" id="Accessories" [(ngModel)]="accessoriesSelected" name="Accessories" value="Accessories">
                    <label for="Accessories">Accessories</label>
                    <input type="checkbox" id="Shoes" [(ngModel)]="shoesSelected" name="Shoes" value="Shoes">
                    <label for="Shoes">Shoes</label>
                    </div>
                    </div>
             </div>

             <mat-form-field  appearance="fill" style="display: none;">
             <mat-date-range-input [rangePicker]="rangePicker">
            <input matStartDate placeholder="Start date" [(ngModel)]="startDate">
            <input matEndDate placeholder="End date" [(ngModel)]="endDate">
            </mat-date-range-input>

            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker (closed)="closeDateRangePicker()"></mat-date-range-picker>
            </mat-form-field>
             
           </div>


</div>

</div>
<div class="product-box mt-3 ">
<div class=" row mb-0 header border-bottom">
    <div class="col-3 product d-flex justify-content-between">
     <div><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()" /> 
      Product
     </div>
     <div *ngIf="on"><img src="/assets/arrow-down.png" (click)="sortProducts()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
     <div *ngIf="!on"><img src="/assets/arrow-up.png" (click)="sortProducts()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
        </div>

     <div class="col-1 SKU text-center">
            SKU
        </div>

    <div class="col-2 Categories text-center">
            Categories
        </div>

    <div class="col-1 d-flex gap-1 justify-content-center">
        Stock
    </div>

    <div class="col-1 d-flex justify-content-center gap-1">
        Price
    <div *ngIf="onP"><img src="/assets/arrow-down.png" (click)="sortPrice()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
     <div *ngIf="!onP"><img src="/assets/arrow-up.png" (click)="sortPrice()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
    </div>

    <div class="col-2 d-flex gap-1 justify-content-center Status">
        Status
    
    </div>

    <div class="col-1 d-flex gap-1 justify-content-center Added">
        Added
    <div *ngIf="onD"><img src="/assets/arrow-down.png"  (click)="sortDate()" class="arrowdown" alt="arrow" style="cursor: pointer;"></div>
    <div *ngIf="!onD"><img src="/assets/arrow-up.png" (click)="sortDate()" class="arrowup" alt="arrow" style="cursor: pointer;"></div>
    </div>

    <div class="col-1 text-center Action">
        Action
    </div>

    
</div>
<!-- Temporary No Products Available -->
<div class="noproductlist" *ngIf="hasError||products.length === 0">
No products available 
</div>
<!--This is for the normal API getproductsperpage ------------------------ -->
<div *ngIf="!filterSelected">
 <div  class="row m-0 product-card" *ngFor="let product of products"  >
  
    <div class="col-3 productdata d-flex align-items-center gap-2">
     <input type="checkbox" [(ngModel)]="product.selected" (change)="checkIfAllSelected()" />
     <div class="image-cell">
     <img [src]="'/assets/' + (product.images?.[0])" alt="Product Image" class="product-image" />
     </div>
    <div class="product-name align-items-center">{{ product.name }}
    <div class="deleted" *ngIf="product.isDeleted">
    Deleted
    </div>

    </div>
    </div>
     

     <div class="col-1 SKUdata text-center" style="color: rgba(92, 89, 232, 1); font-weight: 600;">
            {{ product.SKU }}  
        </div>

    <div class="col-2 Categoriesdata text-center">
            {{ product.type }}
        </div>

    <div class="col-1 stockdata text-center">
        {{product.stockQuantity}}
    </div>

    <div class="col-1 text-center">
        {{product.amount}}$
    </div>

    <div class="col-2 status text-center">
        {{ product.status }}
       
    </div>

    <div class="col-1 text-center Added">
        {{ product.createdOn | date:'short' }}

    </div>

    <div class="col-1 d-flex gap-1 justify-content-center Action">
        <img src="/assets/preview.png" alt="preview"  (click)="openPreviewPopup(product)" class="preview-icon"/>
        <img src="/assets/update.png" alt="Update"  (click)="onUpdate(product.id)" class="update-icon"/>
        <img src="/assets/delete.png" alt="Delete" (click)="onDelete(product.id)" class="delete-icon"/>

    </div>
    


 </div>

 <!-- preview div -->
 <div *ngIf="openpreview" class="preview-popup" (click)="closePreviewPopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div class="previewheader d-flex mb-3 align-items-center gap-4">
         <h2>Product Preview</h2>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ selectedProduct?.SKU }}</h3>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ selectedProduct?.type }}</h3>
        </div>
        <div class="body d-flex gap-4 mb-3 align-items-center">
               
                <div class="container  d-flex gap-4 align-items-center">
                <div><h2 style="color: whitesmoke;">{{selectedProduct?.name}}</h2></div>
                <h3>{{selectedProduct?.status}}</h3>
                <h3 >Stock: {{selectedProduct?.stockQuantity}}</h3>
                <div class="prices d-flex flex-column justify-content-center">
                <h3 >Price: {{selectedProduct?.amount}}$</h3>
                <h3 style="text-decoration: line-through;">{{ selectedProduct?.oldPrice | number:'1.0-0' }}</h3>
                </div>
                </div>
                </div>
        <div class="imagesdesc d-flex gap-3 mb-3 justify-content-center">
            <div class="images d-flex gap-2">
                <div *ngFor="let img of selectedProduct?.images">
                    <img [src]="'/assets/' + img" alt="Product Image" class="product-image"/>
                </div>      
            </div> 
        </div>
        <div class="description">
            <p>{{selectedProduct?.description}}</p>
        </div>
    </div>
</div>


<!-- end of preview div  -->
</div>

 <!--End of getproducts per page ----------------------------------- -->


 <!-- This is for the filtered products ------------------------ -->
 <div *ngIf="filterSelected">
  <div  class="row m-0 product-card" *ngFor="let product of products"  >
  
    <div class="col-3 productdata d-flex align-items-center gap-2">
     <input type="checkbox" [(ngModel)]="product.selected" (change)="checkIfAllSelected()" />
     <div class="image-cell">
     <img [src]="'/assets/' + (product.images?.[0])" alt="Product Image" class="product-image" />
     </div>
    <div class="product-name align-items-center">{{ product.name }}
    <div class="deleted" *ngIf="product.isDeleted">
    Deleted
    </div>

    </div>
    </div>
     

     <div class="col-1 SKUdata text-center" style="color: rgba(92, 89, 232, 1); font-weight: 600;">
            {{ product.SKU }}  
        </div>

    <div class="col-2 Categoriesdata text-center">
            {{ product.type }}
        </div>

    <div class="col-1 stockdata text-center">
        {{product.stockQuantity}}
    </div>

    <div class="col-1 text-center">
        {{product.amount}}$
    </div>

    <div class="col-2 status text-center">
        {{ product.status }}
       
    </div>

    <div class="col-1 text-center Added">
        {{ product.createdOn | date:'short' }}

    </div>

    <div class="col-1 d-flex gap-1 justify-content-center Action">
        <img src="/assets/preview.png" alt="preview"  (click)="openPreviewPopup(product)" class="preview-icon"/>
        <img src="/assets/update.png" alt="Update"  (click)="onUpdate(product.id)" class="update-icon"/>
        <img src="/assets/delete.png" alt="Delete" (click)="onDelete(product.id)" class="delete-icon"/>

    </div>
    


 </div>

 <!-- preview div -->
 <div *ngIf="openpreview" class="preview-popup" (click)="closePreviewPopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div class="previewheader d-flex mb-3 align-items-center gap-4">
         <h2>Product Preview</h2>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ selectedProduct?.SKU }}</h3>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ selectedProduct?.type }}</h3>
        </div>
        <div class="body d-flex gap-4 mb-3 align-items-center">
               
                <div class="container  d-flex gap-4 align-items-center">
                <div><h2 style="color: whitesmoke;">{{selectedProduct?.name}}</h2></div>
                <h3>{{selectedProduct?.status}}</h3>
                <h3 >Stock: {{selectedProduct?.stockQuantity}}</h3>
                <div class="prices d-flex flex-column justify-content-center">
                <h3 >Price: {{selectedProduct?.amount}}$</h3>
                <h3 style="text-decoration: line-through;">{{ selectedProduct?.oldPrice | number:'1.0-0' }}</h3>
                </div>
                </div>
                </div>
        <div class="imagesdesc d-flex gap-3 mb-3 justify-content-center">
            <div class="images d-flex gap-2">
                <div *ngFor="let img of selectedProduct?.images">
                    <img [src]="'/assets/' + img" alt="Product Image" class="product-image"/>
                </div>      
            </div> 
        </div>
        <div class="description">
            <p>{{selectedProduct?.description}}</p>
        </div>
    </div>
</div>
</div>


 <div class="paging d-flex justify-content-between align-items-center">
<div> Showing 1-{{ products.length }} from {{ allProducts.length }} </div>
<div class="d-flex gap-2">
 <button class="btn previous" [disabled]="pageNumber==1" (click)="previousPage()"><</button>
<button class="btn num">{{this.pageNumber}}</button>
<button class="btn next" [disabled]="stopNext" (click)="nextPage()">></button>
</div>

 </div>
</div>

</div>


<div class="popup" *ngIf="showDeletePopup" (click)="closeDeletePopup()">
  <div class="deletepopup-content" (click)="$event.stopPropagation()">
    <h2>Are you sure you want to delete this product?</h2>
    <div class="button-group mt-4 d-flex gap-2 justify-content-center">
      <button (click)="confirmDelete()" class="btn btn-danger">Yes</button>
      <button (click)="closeDeletePopup()" class="btn btn-secondary" style="background-color: rgba(92, 89, 232, 1);">Cancel</button>
    </div>
  </div>
</div>
