
<div class="container-fluid">
    <div class="row">
        <div class="col-12 footer p-5">
            <div class="row gap-sm-5 g-4">
            <div class=" col-12 col-sm-2 d-flex flex-column gap-3 justify-content-between">
            <img src="assets/LDC.png" alt="Logo" class="footer-logo">
             <div><h4>We have clothes that suits your style and which you’re proud to wear. From women to men.</h4></div>

        <div class="logos d-flex " >
            <button class="btnB btn-primary"><a href="https://www.facebook.com" target="_blank"><img src="assets/facebook.png" alt="Facebook"></a></button>
            <button class="btnW btn-primary "><a href="https://www.instagram.com" target="_blank"><img src="assets/instagram.png" alt="Instagram"></a></button>
            <button class="btnW btn-primary "><a href="https://www.twitter.com" target="_blank"><img src="assets/twitter.png" alt="Twitter"></a></button>
            <button class="btnW btn-primary "><a href="https://www.github.com" target="_blank"><img src="assets/github.png" alt="GitHub"></a></button>
       </div>
       </div>
       <div class=" table1 col-6 col-sm-2 d-flex flex-column gap-3 ">
        <div><h5>COMPANY</h5></div>
        <div><h3>About </h3></div>
        <div><h3>Feautures </h3></div>
        <div><h3>Work</h3></div>
        <div><h3>Career</h3></div>
       </div>

       <div class="table2 col-6 col-sm-2 d-flex flex-column gap-3 ">
        <div><h5>HELP</h5></div>
        <div><h3>Customer Support </h3></div>
        <div><h3>Delivery Details </h3></div>
        <div><h3>Terms & Conditions</h3></div>
        <div><h3>Privacy Policy</h3></div>
       </div>

       <div class="col-6 col-sm-2 d-flex flex-column gap-3 ">
        <div><h5>FAQ</h5></div>
        <div><h3>Account </h3></div>
        <div><h3>Manage Deliveries</h3></div>
        <div><h3>Orders</h3></div>
        <div><h3>Payments</h3></div>
       </div>

       <div class="col-6 col-sm-2 d-flex flex-column gap-3 ">
        <div><h5>RESOURCES</h5></div>
        <div><h3>Free eBooks </h3></div>
        <div><h3>Development Tutorial</h3></div>
        <div><h3>How to - Blog</h3></div>
        <div><h3>Youtube Playlist</h3></div>
       </div>
       </div>

       <div class="col-12 custom-line"></div>
       <div class="col-12 d-sm-flex justify-content-sm-between pt-3 pb-3 ">
        <div >
            <h4>Shop.co © 2000-2023, All Rights Reserved</h4>
        </div>
        <div class="Payments gap-2">
            <img src="assets/Visa.png"  class="visa">
            <img src="assets/mastercard.png" class="mastercard">
            <img src="assets/paypal.png" class="paypal">
            <img src="assets/gpay.png" class="gpay">
        </div>
       
       </div>
        
       
    </div>
    </div>
    </div>
