
<div class="container-fluid">
    <div class="row">
        <div class="col-12 footer p-5">
            <div class="col-2 d-flex flex-column gap-3 allign-items-left">
            <img src="assets/LDC.png" alt="Logo" class="footer-logo">
             <div><h4>We have clothes that suits your style and which you’re proud to wear. From women to men.</h4></div>

        <div class="logos d-flex">
            <button class="btnB btn-primary"><a href="https://www.facebook.com" target="_blank"><img src="assets/facebook.png" alt="Facebook"></a></button>
            <button class="btnW btn-primary "><a href="https://www.instagram.com" target="_blank"><img src="assets/instagram.png" alt="Instagram"></a></button>
            <button class="btnW btn-primary "><a href="https://www.twitter.com" target="_blank"><img src="assets/twitter.png" alt="Twitter"></a></button>
            <button class="btnW btn-primary "><a href="https://www.github.com" target="_blank"><img src="assets/github.png" alt="GitHub"></a></button>
       </div>
       </div>
        
       
    </div>
    </div>
    </div>
