<div class="preview-popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
        <div class="header d-flex mb-3 align-items-center gap-4">
         <h2>Product Preview</h2>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ product?.SKU }}</h3>
         <h3 style="color: rgba(92, 89, 232, 1);">{{ product?.type }}</h3>
        </div>
        <div class="body d-flex gap-4 mb-3 align-items-center">
                <h2 style="font-size: 20px;">{{product?.name}}</h2>
                <div class="container  d-flex gap-4 align-items-center">
                <h3>{{product?.status}}</h3>
                <h3 >Stock: {{product?.stockQuantity}}</h3>
                <div class="prices d-flex flex-column justify-content-center">
                <h3 >Price: {{product?.amount}}$</h3>
                <h3 style="text-decoration: line-through;">{{ product?.oldPrice | number:'1.0-0' }}</h3>
                </div>
                </div>
                </div>
        <div class="imagesdesc d-flex gap-3 mb-3">
            <div class="images d-flex gap-2">
                <div *ngFor="let img of product?.images">
                    <img [src]="'/assets/' + img" alt="Product Image" class="product-image"/>
                </div>      
            </div> 
        </div>
        <div class="description">
            <p>{{product?.description}}</p>
        </div>
    </div>
</div>
