@media (max-width: 576px) {
    .vertical-sidebar{
        display: none;
    }

    .products{
        padding: 10px;
    }
}

@media(min-width:577px) and (max-width:992px) {
.vertical-sidebar{
    display: none;
}

.products{
    justify-content: center;
    flex: 0 0 100%
}

}
    
