
      <div class="filterbox ">
        <div class="filterline d-flex justify-content-between align-items-center">
            <h4>Filters</h4>
           <img src="assets/filter.png"  alt="Filter Icon"> 
           
        </div>
         <div class="custom-line"></div>
          <div class="priceline d-flex justify-content-between align-items-center">
            <h4>Price</h4>
           <img src="assets/arrow-up.png" alt="arrow-up icon" class="arrow-up" /> 
        </div>
        <div class="price-range">
            <app-price-slider #priceSlider></app-price-slider>
        </div>
        <div class="apply-button d-flex justify-content-center pt-4">
            <button class="btn btn-primary apply "(click)="onSliderChange()">Apply Filter</button>
        </div>

       </div>
    