<app-header></app-header>
<div class="container">
<div class="mb-3"><h2>Your Cart</h2></div>
<div class="row">
    <div class="col-lg-6 col-12 p-4 mycart ">
        <div class="product " *ngFor="let product of allProductsInCart; let last = last">
         <div class="row">
          <div class="col-3 image">
        <div class="imagebox"><img [src]="'assets/' + product.isSelected" alt="Product Image" /></div>


          </div>
          <div class="col-9 details">
            <h3>{{product.name}}</h3>
            <div class="additionalinfo d-flex justify-content-between">
              <h3 style="font-size: 24px;">${{product.amount}}</h3>
              <div> <button class="btn btn-primary quantity gap-4"><img src="assets/subtract.png" alt="subtract" class="subtract" (click)="subtract(product.id,product.stockQuantity)">
        {{product.quantityTaken}}<img src="assets/add.png" alt="add" class="add" (click)="add(product.id,product.stockQuantity);"></button>
            </div>
            </div>
             
          </div>
         </div>
        <hr *ngIf="!last" style="border: 1px solid lightgray; width: 100%;">

        </div>

    </div>
</div>
</div>
