<div class="title">
<h2> Add Product</h2>
<h3><a routerLink="/admin/dashboard" class="text-decoration-none" style="color: rgba(92, 89, 232, 1);">Dashboard</a>  >   
  <a routerLink="/admin/productlist" class="text-decoration-none"  style="color: rgba(92, 89, 232, 1);">Product</a> > 
  <a routerLink="/admin/productlist/add-product" class="text-decoration-none"> Add Product</a></h3>
</div>  
<!-- -------------------------------------------------- -->
<div class="row">
<div class=" col-12 col-lg-9 addingproduct">
<!-- ------------------------------ -->
<div class="generalinfo mt-2">
<h2 style="font-size: 20px;">General Information</h2>
<form [formGroup]="productForm" >
  <div class="ProductName mb-3">
    <label for="productName" class="form-label">Product Name</label>
    <input type="text" id="productName" class="form-control" placeholder="Type product name here. . ." formControlName="productName">
    <div *ngIf="productForm.get('productName')?.invalid && productForm.get('productName')?.touched" class="text-danger">
      Product name is required.
    </div>
  </div>

  <div class="Description ">
    <label for="description" class="form-label">Description</label>
    <textarea type="text" id="description" class="form-control noresize " placeholder="Type product description here. . ." formControlName="description" rows="3"></textarea>
    <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="text-danger">
      Description must be at least 10 characters.
    </div>
  </div>

</form>

</div>

<!-- ----------------------------------------------------------- -->



<div class="media">
<h2 style="font-size: 20px;">Media</h2>
<form [formGroup]="mediaForm">
<label for="photo" class="form-label">Photo</label>
<input type="file" id="fileInput" multiple (change)="onFilesSelected($event)"> 
<div class="mediablock">
  <label for="fileInput" class="custom-upload">Choose Files</label>
    <div  class="lists" *ngIf="media.controls.length > 0">
        <ul><li *ngFor="let control of media.controls; let i = index">
        {{ control.value }}
        <button type="button" class="removebtn" (click)="removeFile(i)">X</button>
       </li>
       </ul>
     </div>
    </div>

  <small *ngIf="media.errors?.['maxNum']">You can upload a maximum of 3 images.</small>
 </form>
 
</div>

<!-- ----------------------------   -->
 <div class="pricing">
  <h2 style="font-size: 20px;">Pricing</h2>
  <form [formGroup]="priceForm">
    <div class="baseprice mb-3">
    <div>
    <label for="baseprice" class="form-label">Base Price</label>
    </div>
    <div class="input-wrapper">
    <img src="/assets/dollar.png" class="dollar" alt="dollar">
    <input type="number" id="baseprice" class="form-control" placeholder="Type base price here. . ." formControlName="baseprice"></div>
    <div *ngIf="priceForm.get('baseprice')?.invalid && priceForm.get('baseprice')?.touched" class="text-danger">
     Base Price is required.
    </div>
    </div>
    <div class="row">
    <div class="col-12 col-lg-6">
    <div class="Discount mb-3 ">
    <label for="discount" class="form-label">Discount Type</label>
     <div class="input-wrapper2">
    <img src="/assets/arrow-down.png" class="down" alt="down">
    <select id="discounttype" class="form-control " formControlName="discounttype" >
     <option value="percentage" selected>Percentage</option>
     <option value="bogo">Buy One Get One</option>
     <option value="bogo">Membership</option>
     <option value="seasonal">Seasonal</option>
     </select>
     </div>
  </div>
  <div class="Tax mb-3">
    <label for="tax" class="form-label">Tax Class</label>
    <div class="input-wrapper2">
    <img src="/assets/arrow-down.png" class="down" alt="down">
    <select id="tax" class="form-control " formControlName="taxclass" >
     <option value="standard" selected>Standard</option>
     <option value="low">Reduced</option>
     <option value="no">No Tax</option>
     </select>
    </div>
  </div>

    </div>
  <div class="col-lg-6 col-12">
    <div class=" discountper mb-3">
      <label for="discountper" class="form-label">Discount Percentage (%)</label>
      <input type="number" id="discountper" class="form-control " formControlName="discountper" min="0" max="100">
      <div *ngIf="priceForm.get('discountper')?.invalid && priceForm.get('discountper')?.touched" class="text-danger">
        Discount Percentage must be between 0 and 100.
      </div>
  </div>
  <div class="VAT mb-3">
    <label for="VAT" class="form-label">VAT Amount(%)</label>
    <input type="number" id="VAT" class="form-control" min="0" max="100" formControlName="VAT">
    <div *ngIf="priceForm.get('VAT')?.invalid && priceForm.get('VAT')?.touched" class="text-danger">
      VAT Amount must be between 0 and 100.
    </div>
  </div>
  </div>
  </div>

  </form>
 </div>
 <!-- --------------------------------------------- 
  <div class="inventory">
  <h2 style="font-size: 20px;">Inventory</h2>
  <form [formGroup]="inventoryForm">
    <div class="row">
    <div class="col-12col-lg-6">
       <div class="SKU mb-3">
        <label for="SKU" class="form-label">SKU</label>
        <input type="text" id="SKU" class="form-control" placeholder="Type product SKU here. . ." formControlName="SKU">
        <div *ngIf="inventoryForm.get('SKU')?.invalid && inventoryForm.get('SKU')?.touched" class="text-danger">
          SKU is required.
        </div>
      </div> 
    </div>
    <div class="col-12 col-lg-6">
      <div class="stockquantity mb-3">
        <label for="stockquantity" class="form-label">Quantity</label>
        <input type="number" id="stockquantity" class="form-control" placeholder="Type product quantity here. . ." formControlName="stockquantity" min="0">
        <div *ngIf="inventoryForm.get('stockquantity')?.invalid && inventoryForm.get('stockquantity')?.touched" class="text-danger">
          Please Enter Quantity
        </div>
      </div>
    </div>
    </div>
  </form>
  </div>
   --------------------------------------------- -->
   <div class="shipping mb-lg-5">
    <h2 style="font-size: 20px;">Shipping</h2>
    <form [formGroup]="shippingForm">
    <div class="d-flex align-items-center form-check-input mb-3">
    <input type="checkbox" id="isPhysical"  formControlName="isPhysical">
    <label for="isPhysical">This is a physical product</label>
    </div>
      <div class="row" [class.dimmed]="!shippingForm.get('isPhysical')?.value">
        <div class="col-12 col-lg-3">
          <div class="Weight mb-3">
            <label for="weight" class="form-label">Weight</label>
            <input type="number" id="weight" class="form-control" placeholder="Product Weight. . ." formControlName="weight" min="0">
            <div *ngIf="shippingForm.get('weight')?.invalid && shippingForm.get('weight')?.touched" class="text-danger">
              Please Enter Weight
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <div class="height mb-3">
            <label for="height" class="form-label">Height</label>
            <input type="number" id="height" class="form-control" placeholder="Height(cm). . ." formControlName="height" min="0">
            <div *ngIf="shippingForm.get('height')?.invalid && shippingForm.get('height')?.touched" class="text-danger">
              Please Enter Height
            </div>
          </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="width mb-3">
              <label for="width" class="form-label">Width</label>
              <input type="number" id="width" class="form-control" placeholder="Width(cm). . ." formControlName="width" min="0">
              <div *ngIf="shippingForm.get('width')?.invalid && shippingForm.get('width')?.touched" class="text-danger">
                Please Enter Width
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="length mb-3">
              <label for="length" class="form-label">Length</label>
              <input type="number" id="length" class="form-control" placeholder="Length(cm). . ." formControlName="length" min="0">
              <div *ngIf="shippingForm.get('length')?.invalid && shippingForm.get('length')?.touched" class="text-danger">
                Please Enter Length
              </div>
            </div>
        </div>
        
      </div>
    </form>

   </div>
</div>





<div class="col-12 col-lg-3 additions">
  <form [formGroup]="categoryStatusForm">
    <div class="Category  mt-lg-4 mb-3">
      <h2 style="font-size: 20px;">Category</h2>
      <label for="category" class="form-label">Product Category</label>
    <div class="input-wrapper2">
    <img src="/assets/arrow-down.png" class="down" alt="down">
    <select id="category" class="form-control" aria-placeholder="Select Category" formControlName="category">

        <option value="tops">Tops</option>
        <option value="Bottoms">Bottoms</option>
        <option value="Shoes">Shoes</option>
        <option value="accessories">Accessories</option>

    </select>
    </div>

    <div *ngIf="categoryStatusForm.get('category')?.invalid && categoryStatusForm.get('category')?.touched" class="text-danger">
      Category is required.
     </div>

     </div>

    
    <div class="Status mb-5">
      <h2 style="font-size: 20px;">Status</h2>
      <label for="status" class="form-label">Product Status</label>
      <div class="input-wrapper2">
        <img src="/assets/arrow-down.png" class="down" alt="down">
        <select id="status" class="form-control" aria-placeholder="Select Status" formControlName="status">
          <option value="InStock" selected>In Stock</option>
          <option value="OutOfStock">Out of Stock</option>
          <!-- <option value="lowstock">Low Stock</option>
          <option value="draft" selected>Draft</option> -->
        </select>
      </div>
    </div>
  </form>
</div>
</div>

<div class="save d-flex align-items-center justify-content-lg-between">
  <div class="left d-flex gap-1 gap-lg-2 align-items-center">
    <h4 >Product Completion</h4>
    <span [ngStyle]="{'background-color': getProgressColor()}">{{ progress | number:'1.0-0' }}%</span>
  </div>

  <div class="right d-flex gap-2 align-items-center">
    <button class="btn cancel" [routerLink]="['/admin/productlist']">X Cancel</button>
    <button class="btn savebtn" (click)="onSave()" >Save </button>
  </div>

</div>
        
