<div class="productbox" style="cursor: pointer;">
<div class=image-box (click)="chooseProduct(productID)" >
    <img [src]="'/assets/' + images" alt="Product Image" class="image" width="100%" height="100%">

  </div>
  <div class="details">
    <h3>{{ name }}</h3>
    <div class="d-flex">
    <p> {{ type }}</p>
    </div>
    <div class="d-flex gap-2" ><h4> ${{ amount }} </h4>
    <h5 *ngIf="oldPrice!=amount"> ${{ oldPrice | number:'1.0-0' }} </h5> 
    <div class="discount" *ngIf="discountpercent">
  {{discountpercent | number:'1.0-0'}}%



</div> </div>
    
  
  </div>

</div>
