.image-box{
    width: 298px;
    height: 295px;
    border-radius: 16px;
    background-color: white;

}


.image{
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

h3{
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

h4, h5 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h5{
 color: rgba(0, 0, 0, 0.4);
 text-decoration: line-through;
}

.discount {
    background-color:  rgba(255, 51, 51, 0.1);
    color: rgba(255, 51, 51, 1);
    width: 58px;
    height: 27px;
    font-size: 12px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.stars {
  --star-color: white;
  --star-background: #fc0;    /* yellow color for filled stars */
  --rating: 0;                /* default rating if not passed */
  
  font-size: 20px;  
  font-family: Times;           /* font that supports ★ */
  line-height: 1;               /* keeps stars aligned properly */
  display: inline-block;        /* so stars act like text */
}



.blurred {
  background-color: #fff9f9;  
  opacity: 0.7; 
  border-radius: 16px;              

}


@media(max-width: 576px) {
    .image-box{
        width: 172px;
        height: 174px;
    }

    .details{
        width:172px
    }
    

    h3, h4, h5 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }
}
