
        <div class="summary d-flex justify-content-between ">
            <div><h4>Products</h4></div>
            <div class="d-flex align-items-center gap-3"> 
            <div class="d-flex align-items-center gap-2"><p *ngIf="filteredProducts.length > 0">Showing  {{ (currentpage - 1) * itemsperpage + 1 }} - 
                                                            {{ getMin(currentpage * itemsperpage, filteredProducts.length) }} 
                                                               of {{ filteredProducts.length }} Products</p>
            <img src="assets/filterbutton.png" alt="filterbutton Icon" class="filterbutton" (click)="openPopup()">
            
            </div>
            <div class="sort position-relative" (click)="showOptions()">
            <div><p>Sort by:</p></div>
            <div><h3>{{currentOption}}</h3></div>
            <img src="assets/arrow-down.png" alt="arrow-down Icon" class="arrow-down">
            <ul *ngIf="displayOptions" class="sort-options">
            <li (click)="sortProducts('Most Popular')">Most Popular</li>
            <li (click)="sortProducts('Price: High to Low')">Price: High → Low</li>
            <li (click)="sortProducts('Price: Low to High')">Price: Low → High</li>
            </ul>
            </div>
            </div>
        </div>
        <div class="products d-flex flex-wrap ">
            <app-productlayer *ngFor="let product of PaginatedProducts" 
                [images]="product.images?.[0] || 'assets/default.png'"
                [name]="product.name" 
                [type]="product.type"
                [amount]="product.amount"
                [oldPrice]="product.oldPrice"
                [discountpercent]="product.discountvalue"
                [productID]="product.id"
                [stockQuantity]="product.stockQuantity">
            </app-productlayer>
        </div>
        
        <div class="custom-line"></div>

        <!--Pagination-->
        <nav class="pagination d-flex  justify-content-between" >
            <div class="col-2 previous d-flex justify-content-start"[class.disabled]="currentpage===1">
                <button class="btnp btn-primary" (click)=changePage(currentpage-1)><img src="assets/arrow-left-real.png" alt="Previous">Previous</button>
            </div>
            <div class="col-8 d-flex range justify-content-center ">
            <div class="repeat" *ngFor="let page of getPagesToShow()"
              [class.active]="currentpage === page">
               <button class="btn-page" (click)="changePage(page)">{{ page}}</button>
               </div>
            </div>
            <div class="col-2 previous next d-flex justify-content-end" [class.disabled]="currentpage>=totalPages">
                <button class="btnn btn-primary" (click)=changePage(currentpage+1)>Next<img src="assets/arrow-right-real.png" alt="Next"></button>
            </div>
        </nav>

        <router-outlet name="popup"></router-outlet>
            
      
        
