
        <div class="summary d-flex justify-content-between ">
            <div><h4>Products</h4></div>
            <div class="d-flex align-items-center gap-3"> 
            <div class="d-flex align-items-center gap-2"><p>Showing 1-{{itemsperpage}} of {{products.length}} Products</p>
            <img src="assets/filterbutton.png" alt="filterbutton Icon" class="filterbutton" (click)="openPopup()">
            
            </div>
            <div class="sort">
            <div><p>Sort by:</p></div>
            <div><h3>Most Popular</h3></div>
            <img src="assets/arrow-down.png" alt="arrow-down Icon" class="arrow-down">
             </div>
            </div>
        </div>
        <div class="mobile-products">
        <div class="products d-flex flex-wrap ">
            <app-productlayer *ngFor="let product of PaginatedProducts" 
                [imageUrl]="product.imageUrl" 
                [title]="product.title" 
                [rating]="product.rating"
                [price]="product.price"
                [oldPrice]="product.oldPrice">
            </app-productlayer>
        </div>
        </div>
        <div class="custom-line"></div>

        <!--Pagination-->
        <nav class="pagination d-flex  justify-content-between" >
            <div class="col-2 previous d-flex justify-content-start"[class.disabled]="currentpage===1">
                <button class="btnp btn-primary" (click)=changePage(currentpage-1)><img src="assets/arrow-left-real.png" alt="Previous">Previous</button>
            </div>
            <div class="col-8 d-flex range justify-content-center ">
            <div class="repeat" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currentpage === i + 1">
               <button class="btn-page" (click)="changePage(i + 1)">{{ i + 1 }}</button>
               </div>
            </div>
            <div class="col-2 previous d-flex justify-content-end" [class.disabled]="currentpage===totalPages || totalPages === 0">
                <button class="btnn btn-primary" (click)=changePage(currentpage+1)>Next<img src="assets/arrow-right-real.png" alt="Next"></button>
            </div>
        </nav>

        <router-outlet name="popup"></router-outlet>
            
      
        
