h4{
    font-family: inter, sans-serif;
    font-weight: 700;
    font-size: 32px;
    
}

p{
    font-family: inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00000099;
    padding-left: 1cm;
    text-align: center;
    
}

h3{
    font-family: inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;

}

h3, p {
  margin: 0;
}

.summary{
    padding-bottom: 10px;
}
.sort{
    display: flex;
    gap: 6px;
    align-items: center;
}


.products{
    column-gap: 16px;
    row-gap: 16px;
}


.custom-line{
    border: 1px solid #E5E5E5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.btn-primary{
    background-color: white;
    color: black;
    font-family: inter,sans serif;
    font-size: 14px;
    font-weight: 400; 
    border: 1;
    border-radius: 8px;
    padding: 8px 16px;
}

.btnn img{
    margin-left: 8px;
}


.btnp img{
    margin-right: 8px;
}

.btn-page{
    background-color: transparent;
    border: 1px;
    font-family: inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 40px;
    height: 40px;
}

.btnp,.btnn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.disabled {
  opacity: 0.5;
  pointer-events: none; /* Prevents clicking */
}

.active{
    border-radius: 16px;
    background-color: #0000001A;
     pointer-events: none; /* Prevents clicking */
     
}

.filterbutton{
        display: none;
        
    }


@media (max-width: 576px){
    .sort
    {
        display: none;
    }

    p{
        font-size: 11px;
    }
    h4{
        font-size: 24px;
    }
    
    .filterbutton{
        display: block;
        
    }

    .products{
        row-gap: 8px;
        column-gap: 8px;
        justify-content: center;
    }

    .app-product-layer {
        width: 185px;
    }

}
