
        <div class="summary d-flex justify-content-between ">
            <div><h4>Products</h4></div>
            <div class="d-flex align-items-center gap-3"> 
            <div><p>Showing 1-10 of 100 Products</p></div>
            <div><p>Sort by:</p></div>
            <div><h3>Most Popular</h3></div>
            <img src="assets/arrow-down.png" alt="arrow-down Icon" class="arrow-down">

            </div>
        </div>

        <div class="products d-flex flex-wrap ">
            <app-productlayer *ngFor="let product of products" 
                [imageUrl]="product.imageUrl" 
                [title]="product.title" 
                [rating]="product.rating"
                [price]="product.price"
                [oldPrice]="product.oldPrice">
            </app-productlayer>
        </div>
        <div class="custom-line"></div>
        <div class="slides d-flex  justify-content-between">
            <div class="col-2 previous d-flex justify-content-start">
                <button class="btnp btn-primary"><img src="assets/arrow-left-real.png" alt="Previous">Previous</button>
            </div>
            <div class="col-8 d-flex range justify-content-center">
                Page Numbers
            </div>
            <div class="col-2 previous d-flex justify-content-end">
                <button class="btnn btn-primary">Next<img src="assets/arrow-right-real.png" alt="Next"></button>
            </div>
    </div>
            
      
        
